.skills {
    padding: 50px;
    background-color: #14141f;
    color: #fff;
  }
  
  .skills h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .skills-section {
    margin-bottom: 50px;
  }
  
  .skills-section h3 {
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .skills-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .skill {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .skill p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {
    .skills-list {
      flex-direction: column;
      align-items: center;
    }
  
    .skill {
      width: 80%;
    }
  }
  