.contact {
    padding: 50px;
    background-color: #14141f;
    color: #fff;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .contact-info {
    margin-bottom: 40px;
  }
  
  .contact-info p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .contact-info a {
    color: #00bcd4;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  .social-links {
    margin-top: 20px;
  }
  
  .social-links a {
    margin: 0 15px;
    color: #00bcd4;
    font-size: 1.1rem;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
  
  
  
  @media (max-width: 768px) {
    .contact-form {
      width: 90%;
    }
  }
  