
/* Section Projets */
.projects {
  padding: 50px;
  background-color: #14141f;
  color: #fff;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project {
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project h3 {
  font-size: 1.8rem;
  color: #fff;
}

.project p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.project-links {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  margin-top: 15px;
}

.project-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.project-links a:hover {
  color: #00b0ff; /* Couleur d'hover */
}

.project-links a svg {
  width: 30px;
  height: 30px;
}
.skills {
  padding: 50px;
  background-color: #14141f;
  color: #fff;
}

.skills h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.skills-section {
  margin-bottom: 50px;
}

.skills-section h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: center;
}

.skills-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.skill {
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skill p {
  font-size: 1.1rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .skills-list {
    flex-direction: column;
    align-items: center;
  }

  .skill {
    width: 80%;
  }
}
.contact {
  padding: 50px;
  background-color: #14141f;
  color: #fff;
  text-align: center;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.contact-info {
  margin-bottom: 40px;
}

.contact-info p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.contact-info a {
  color: #00bcd4;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  margin: 0 15px;
  color: #00bcd4;
  font-size: 1.1rem;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}

.contact-form {
  background-color: #222;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

.contact-form h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-form label {
  font-size: 1rem;
  margin-bottom: 8px;
  display: block;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #00bcd4;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
}

.contact-form button:hover {
  background-color: #0288d1;
}

@media (max-width: 768px) {
  .contact-form {
    width: 90%;
  }
}
